@model IndexPaginationViewModel



<div>
    <h1>Ads board</h1>

    <div class="border-right">
        <form action="" method="get" class="float-right">
            <input type="search" name="search" placeholder="" />
            <input type="submit" value="Search" />
        </form>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <a onclick="showInPopUp('@Url.Action("Create","Ads",null,Context.Request.Scheme)', 'Add ad')" class="btn btn-success">Add ad</a>
    }
    else
    {
        <hr class="invisible" />
        <hr class="invisible" />
        <div>
            <div class="alert alert-warning" role="alert">
                You must be logged in to post ads!
            </div>
        </div>
    }

    <table style="border-collapse" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ad.Image)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="number"> @Html.DisplayNameFor(model => model.ad.Number)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="text">  @Html.DisplayNameFor(model => model.ad.Text)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="rating">   @Html.DisplayNameFor(model => model.ad.Rating)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sort="user">   @Html.DisplayNameFor(model => model.ad.UserName)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ads)
            {
                <tr>
                    <td>
                        <img width="250" height="250" src="@item.Image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <div>
                            @if (item.UserName != null)
                            {
                                <div> @item.UserName</div>
                            }
                        </div>
                    </td>
                    <td>
                        <button onclick="showInPopUp('@Url.Action("Details","Ads",new{id=item.AdId})','Details')" asp-route-id="@item.AdId" class="btn btn-primary">Details</button>

                        @if ((User.Identity.IsAuthenticated && User.IsInRole("admin")) || User.Identity.Name == item.UserName)
                        {
                            <div>
                                <button onclick="showInPopUp('@Url.Action("Edit","Ads",new{id=item.AdId})','Edit')" asp-route-id="@item.AdId" class="btn btn-outline-info">Edit</button>
                                <button onclick="showInPopUp('@Url.Action("Delete","Ads",new{id=item.AdId})','Delete')" asp-route-id="@item.AdId" class="btn btn-outline-danger">Delete</button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
</div>