@model MyTestWebApp.ViewModels.AdDetailsModel

@{
    Layout = null;
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img width="200" height="200" src="@Model.Image" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DropTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DropTime)
        </dd>
    </dl>
</div>
<div>
    <button onclick="closePopUp()" class="btn btn-dark">Back</button>
</div>
