@model IEnumerable<MyTestWebApp.Models.Ad>

@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Доска объявлений</h1>
<h3>
    <form action="" method="get" class=float-right>
        <input type="search" name="search" placeholder="Поиск"/>
        <input type="submit" value="Искать"/>
    </form>
</h3>

 <a asp-action="Create" class="btn btn-success">Добавить объявление</a>
<table style="border-collapse" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>

                @{
                    var base64 = Convert.ToBase64String(item.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img width="250" height= "250" src="@imgSrc" />
            </td>    
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
             <td>
             <div>
                 @{ var user = await userManager.FindByIdAsync(item.UserId);   }
                 @if (user != null) {<div> user.UserName</div> }
             </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>